@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/*
CSS Selector Specificity

1. (1,0,0,0) Inline styles (e.g., style="color: red;") have the highest specificity.
2. (0,1,0,0) IDs (e.g., #id) have higher specificity than classes, attributes, and pseudo-classes.
3. (0,0,1,0) Classes (e.g., .class), attributes (e.g., [type="text"]), and pseudo-classes (e.g., :hover) have the same specificity.
4. (0,0,0,1) Elements, pseudo-elements (e.g., div, p, ::before) have the lowest specificity.
5. (0,0,0,0) Universal selector (*) has no specificity.

6. Examples:
<p style="color: red;">This will be red</p> - (1,0,0,0) Always overrides external/internal CSS
#header .nav li.active a:hover - (1,3,2,0) Specificity of 1 for ID, 3 for classes, and 2 for elements
div#main .content p.intro { color: red; }

7. Rules:
!important declarations override all other styles, regardless of specificity.
Equal Specificity: the last declaration in the CSS file will take precedence.
Prefer using classes over IDs for styling to maintain flexibility and reusability.
*/

:root {
    --clr-main-app-color: #84b1cb;
    --clr-background-color: #cacdd0;

    --container-margin: 10px;
    --container-border: #966b18 1px solid;
    --box-shadow-style: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
    --border-radius: 1rem;
    --common-gap: 10px;

    --clr-font-color: #1c1a1a;
    --clr-icon-color: #521212;

    --clr-button-color: #a17373;
    --button-border-radius: 0.5rem;
    --button-transition-style: background-color 250ms linear, color 300ms linear;
    --button-border-width: 0;
    --hover-color: #d1d1d1;
    --hover-cursor-type: pointer;

    --clr-table-border-color: #9714d9;
    --table-row-border: 1px solid var(--clr-table-border-color);
    --clr-table-header-background-color: #f0f0f0;
    --clr-table-header-font-color: #000000;
    --clr-table-row-even-background-color: #f9f9f9;
    --clr-table-row-odd-background-color: #ffffff;
    --clr-table-row-hover-background-color: #e0e0e0;
    --clr-table-row-hover-font-color: #000000;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--clr-font-color);
    background-color: var(--clr-background-color);
  }

/* 1. Containers ----------------------------------------------------------*/
header {}
  .navigation-container {
    margin: var(--container-margin);
    border: var(--container-border);
  }

  .main-page-text-container {
    margin: var(--container-margin);
    border: var(--container-border);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .page-content-container {
    margin: var(--container-margin);
    border: var(--container-border);

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

    .left-bar-container {
      width: 15%;
      margin: var(--container-margin);
      border: var(--container-border);
    }

    .right-bar-container {
      width: 85%;
      margin: var(--container-margin);
      border: var(--container-border);
    }

      .card-buttons-bar-container {
        margin: var(--container-margin);
        border: var(--container-border);
      }

      .content-container{
        margin: var(--container-margin);
        border: var(--container-border);
      }

.footer-container {
  margin: var(--container-margin);
  border: var(--container-border);
}
