.content-container-wrapper {
    margin: var(--container-margin);
    border: white 1px solid;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: var(--common-gap);
}

    .content-container-wrapper-top {
        border: green 1px solid;
        margin: var(--container-margin);
    }

    .content-container-wrapper-bottom {
        border: cornflowerblue 1px solid;
        margin: var(--container-margin);
    }
